<!DOCTYPE html>
<html lang="en" ng-app="drApp">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Data Repository</title>

  <base href="/data-repository-app/" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="/data-repository-app/bower_components/html5shiv/html5shiv.min.js"></script>
  <script src="/data-repository-app/bower_components/respond/respond.min.js"></script>
  <![endif]-->

  <!-- JQuery -->
  <!--<script src="ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.js"></script>-->
  <script src="/data-repository-app/bower_components/jquery/dist/jquery.min.js"></script>
  <script src="/data-repository-app/bower_components/jquery-ui/jquery-ui.min.js"></script>

  <!-- Bootstrap -->
  <script src="/data-repository-app/bower_components/bootstrap-css/js/bootstrap.min.js"></script>
  <link href="/data-repository-app/bower_components/bootstrap-css/css/bootstrap.css" rel="stylesheet" />
  <link href="/data-repository-app/bower_components/bootstrap-css/css/bootstrap-theme.css" rel="stylesheet" />
  <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
  <script src="/data-repository-app/bower_components/bootstrap3-ie10-viewport-bug-workaround/ie10-viewport-bug-workaround.js"></script>

  <!--AngularJS-->
  <script src="/data-repository-app/bower_components/angular/angular.min.js"></script>
  <script src="/data-repository-app/bower_components/angular-messages/angular-messages.min.js"></script>
  <script src="/data-repository-app/bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="/data-repository-app/bower_components/angular-route/angular-route.min.js"></script>

  <!--AngularJS, date (for date widgets)-->
  <script src="/data-repository-app/bower_components/angular-ui-date/src/date.js"></script>
  <link href="/data-repository-app/bower_components/jquery-ui/themes/smoothness/jquery-ui.css" rel="stylesheet" />
  <!--Cookie support-->
  <script src="/data-repository-app/bower_components/angular-cookies/angular-cookies.min.js"></script>

  <!--Necessary for being able to display a link returned by a REST call (as we have one within the
  search resutls)-->
  <script src="/data-repository-app/bower_components/angular-sanitize/angular-sanitize.min.js"></script>

  <!-- Our Stuff -->
  <link href="/data-repository-app/css/app.css" rel="stylesheet" />
  <script src="/data-repository-app/js/app.js"></script>

</head>

<body role="document">

<!--progress indicator-->
<div id="progressAnimation" ng-show="$root.numberOfBlockingProcesses > 0"></div>

<!-- F i x e d   n a v b a r  -->

<div ng-controller="rootPageController">

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <span class="navbar-brand">{{$root.dataCategory}} Data Repository
        </span>

      </div>
      <div id="navbar" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">

          <li class="{{$root.menuItemClass_uploadData}}"><a href="#/uploadData" ng-click="handleUploadDataMenuItemClick()">Upload Data</a></li>

          <li class="{{$root.menuItemClass_findData}}"><a href="#/findData" ng-click="handleFindDataMenuItemClick()">Find Data</a></li>

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>

</div>

<div class="container theme-showcase" role="main">
  <!--area where pages display-->
  <div ng-view>

  </div>
</div>

</body>
</html>
