<div class="page-header">
  <h1>Find Data</h1>
</div>

<div class="page-content">

  <div>
    <label for="dataCategory">Data Category*</label>
    <select name="dataCategory" id="dataCategory" ng-model="dataCategory">
      <option ng-repeat="dataCategory in knownDataCategories" value="{{dataCategory}}">{{dataCategory}}</option>
    </select>
    <br/>

    <legend>Search Criteria</legend>

    <div ng-hide="dataCategory === ''">
      <select name="columnName" id="columnName" ng-model="columnName"
              ng-options="knownColumnName as knownColumnName for knownColumnName in knownDataCategoryColumnNames">
      </select>

      <span ng-hide="columnName === ''">

        <select name="dataTypeId" id="dataTypeId" ng-model="dataTypeId">
          <option ng:repeat="knownDataType in knownDataTypes" value="{{knownDataType.id}}">{{knownDataType.label}}</option>
        </select>

        <span ng-hide="dataTypeId === ''">
          <select name="comparisonOperatorId" id="comparisonOperatorId" ng-model="comparisonOperatorId">
            <option ng:repeat="knownComparisonOperator in knownComparisonOperators" value="{{knownComparisonOperator.id}}">{{knownComparisonOperator.label}}</option>
          </select>

          <span ng-hide="comparisonOperatorId === ''">

            <span ng-show="dataTypeId === 'STRING'">
              <input ng-model="value_asString" required type="text" style="background-color: #99CC66                                       "/>
            </span>

            <span ng-show="dataTypeId === 'NUMBER'">
              <input ng-model="value_asNumber" required type="text" style="background-color: #007fff"/>
            </span>

            <span ng-show="dataTypeId === 'DATE'">
              <input ng-model="value_asDate" required type="text" style="background-color: #985f0d"/>
            </span>

            <span ng-show="dataTypeId === 'BOOLEAN'">
              <input ng-model="value_asBoolean" required type="text" style="background-color: #9999FF"/>
            </span>

          </span>

        </span>

      </span>

      <br/>
      <div>Criterion: {{columnName}} <i>{{comparisonOperatorId}}</i> {{value_asDate}} </div>
    </div>
  </div>


  <!--<div style="float: bottom; clear: both">-->
    <a href="#" class="btn btn-default" ng-click="handleSearchSubmission()">Search</a>
  <!--</div>-->

  <div>
    {{searchResults}}
  </div>

</div>