<div class="page-header" xmlns:float="http://www.w3.org/1999/xhtml" xmlns:float="http://www.w3.org/1999/xhtml">
  <h1>Find Data</h1>
</div>

<div class="page-content">

  <div>

    <div>
      <label for="dataCategory">Data Category*</label>
      <select name="dataCategory" id="dataCategory" ng-model="$root.dataCategory">
        <option ng-repeat="dataCategory in knownDataCategories" value="{{dataCategory}}">{{dataCategory}}</option>
      </select>
    </div>

    <div ng-hide="$root.dataCategory === ''">

      <legend>Search Criteria</legend>

      <div ng:repeat="criterion in $root.searchCriteria" style="margin-top: 4px">

        <select name="columnName" id="columnName" ng-model="criterion.columnName"
                ng-options="knownColumnName as knownColumnName for knownColumnName in knownColumnNames">
        </select>

        <span ng-hide="criterion.columnName === ''">

          <select name="dataTypeId" id="dataTypeId" ng-model="criterion.dataTypeId">
            <option ng:repeat="knownDataType in knownDataTypes" value="{{knownDataType.id}}">
              {{knownDataType.label}}
            </option>
          </select>

          <span ng-hide="criterion.dataTypeId === ''">

            <select name="comparisonOperatorId" id="comparisonOperatorId" ng-model="criterion.comparisonOperatorId">
              <option ng:repeat="knownComparisonOperator in criterion.knownComparisonOperators" value="{{knownComparisonOperator.id}}">
                {{knownComparisonOperator.label}}
              </option>
            </select>

            <span ng-hide="criterion.comparisonOperatorId === ''">

              <span ng-show="criterion.dataTypeId === 'STRING'">
                <input ng-model="criterion.value_asString" type="text"/>
              </span>

              <span ng-show="criterion.dataTypeId === 'NUMBER'">
                <input ng-model="criterion.value_asNumber" type="number"/>
              </span>

              <span ng-show="criterion.dataTypeId === 'DATE'">
                <input ng-model="criterion.value_asDate" ui-date type="text"/>
              </span>

              <span ng-show="criterion.dataTypeId === 'BOOLEAN'">
                <select ng-model="criterion.value_asBoolean">
                  <option value="TRUE">TRUE</option>
                  <option value="FALSE">FALSE</option>
                </select>
              </span>

            </span>

          </span>

        </span>

        <span style="margin-left: 4px">
          <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="addCriterion(criterion)" ng-show="criterion == $root.searchCriteria[$root.searchCriteria.length - 1]"></span>
          <span class="glyphicon glyphicon-minus" aria-hidden="true" ng-click="criterion.removeMe()" ng-show="$root.searchCriteria.length > 1"></span>
        </span>

      </div>

    </div>

  </div>
</div>

<span ng-hide="$root.searchCriteria[0].comparisonOperatorId === ''">

    <div style="margin-top: 20px">
      <button class="btn btn-default" ng-click="handleSearchSubmission()">
        Search
      </button>
    </div>

   </span>


<div ng-hide="$root.searchComplete === false" style="margin-top: 20px">

  <div style="width: inherit;">
      <span>
        Number of matches: {{$root.searchResults.length}}
      </span>
      <span style="float: right" ng-show="($root.searchResults.length > 0)">
        <a href="#/findData" ng-click="downloadSearchResults">download search results</a>
      </span>
  </div>

  <div
      ng-hide="$root.searchResults.length === 0"
      ui-grid="searchResultsGridConfig"
      ui-grid-auto-resize
      ui-grid-move-columns
      ui-grid-resize-columns />

</div>

</div>