<div class="page-header">
  <h1>Find Data</h1>
</div>

<div class="page-content">

  <div>
    <label for="dataCategory">Data Category*</label>
    <select name="dataCategory" id="dataCategory" ng-model="dataCategory">
      <option ng-repeat="dataCategory in knownDataCategories" value="{{dataCategory}}">{{dataCategory}}</option>
    </select>
    <br/>

    <div ng-hide="dataCategory === ''">

      <legend>Search Criteria</legend>

      <select name="columnName" id="columnName" ng-model="columnName"
              ng-options="knownColumnName as knownColumnName for knownColumnName in knownDataCategoryColumnNames">
      </select>

      <span ng-hide="columnName === ''">

        <select name="dataTypeId" id="dataTypeId" ng-model="dataTypeId">
          <option ng:repeat="knownDataType in knownDataTypes" value="{{knownDataType.id}}">{{knownDataType.label}}</option>
        </select>

        <span ng-hide="dataTypeId === ''">
          <select name="comparisonOperatorId" id="comparisonOperatorId" ng-model="comparisonOperatorId">
            <option ng:repeat="knownComparisonOperator in knownComparisonOperators" value="{{knownComparisonOperator.id}}">{{knownComparisonOperator.label}}</option>
          </select>

          <span ng-hide="comparisonOperatorId === ''">

            <span ng-show="dataTypeId === 'STRING'">
              <input ng-model="value_asString" required type="text" style="background-color: #99CC66                                       "/>
            </span>

            <span ng-show="dataTypeId === 'NUMBER'">
              <input ng-model="value_asNumber" required type="text" style="background-color: #007fff"/>
            </span>

            <span ng-show="dataTypeId === 'DATE'">
              <input ng-model="value_asDate" required type="text" style="background-color: #985f0d"/>
            </span>

            <span ng-show="dataTypeId === 'BOOLEAN'">
              <input ng-model="value_asBoolean" required type="text" style="background-color: #9999FF"/>
            </span>

              <br/>
              <br/>
              <button class="btn btn-default" ng-click="handleSearchSubmission()">
                Search
              </button>
  <!--<div style="float: bottom; clear: both">-->
    <!--<a href="#" class="btn btn-default" ng-click="handleSearchSubmission()">Search</a>-->
  <!--</div>-->

          </span>

        </span>

      </span>

      <br/>
      <br/>
      <!--<div>Criterion: {{columnName}} <i>{{comparisonOperatorId}}</i> {{value_asDate}} </div>-->
    </div>
  </div>

  <!--<div ng-controller="DashboardController as vm">-->
    <!--<h1>Dashboard</h1>-->
    <!--<p>{{vm.title}}</p>-->
    <!--<div ng-repeat="row in searchResults">-->
      <!--<div ng-repeat="col in row">-->
        <!--<div>{{row[col]}}</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <div class="gridStyle" ng-grid="searchResults">

  <table>
    <tr ng-repeat="searchResult in searchResults">
      <td ng-repeat="cell in searchResult.metadata">
        {{cell}}
      </td>
    </tr>
  </table>


  <!--<div>-->
    <!--{{searchResults}}-->
  <!--</div>-->

</div>