<div class="page-header">
  <h1>Upload Data</h1>
</div>

<div class="page-content">

  <div>
    <legend>Metadata</legend>

    <div style="margin-bottom: 2px">
      <label for="dataCategory">Data Category*</label>
      <select name="dataCategory" id="dataCategory" ng-model="$root.dataCategory">
        <option ng-repeat="option in $root.knownDataCategories" value="{{option}}">{{option}}</option>
      </select>
    </div>

    <div style="margin-bottom: 2px">
      <label>Submission Date*</label>
      <input ng-model="$root.submissionDate" ui-date type="text"/>
      <br/>
    </div>

    <div style="margin-bottom: 2px">
      <label for="submitter">Submitter*</label>
      <input ng-model="$root.submitter" required id="submitter" name="submitter" type="text" style="width: 300px;"/>
      <!--<span class="alert" ng-class="{'alert-warning':submitter.length > 5}" >Sumitter is required!</span>-->
    </div>

    <div style="margin-bottom: 2px">

      <label for="projectName">Project Name</label>
      <input ng-model="$root.projectName" required id="projectName" name="projectName" type="text" style="width: 300px;"/>
    </div>

    <div style="margin-bottom: 2px">
      <label for="chargeNumber">Charge #</label>
      <input ng-model="$root.chargeNumber" id="chargeNumber" name="chargeNumber" type="text" style="width: 300px;"/>
    </div>

    <div style="margin-bottom: 2px">
      <label for="comments">Comments</label>
      <textarea ng-model="$root.comments" id="comments" name="comments" rows="2" style="width: 300px;" ></textarea>
    </div>

  </div>

  <div>

    <legend>Data File</legend>

    <div>
      <label for="dataFile">(Excel or CSV file)</label>
      <input type="file"
             id="dataFile"
             name="dataFile"
             data-ng-model="$root.dataFile"
             accept=".xls,.xlsx,.xlsm,.csv"
             required
             file-change="populateNamesOfSheetsWithinSelectedWorkbook()"
             style="display: inline;" />
    </div>

    <div ng-show="knownNamesOfSheetsWithinSelectedWorkbook.length > 0" style="margin-top: 2px">
      <div>
        <label style="width: auto;" for="nameOfSheetContainingData">Select the name of sheet within the workbook containing the data to be ingested*</label>
      </div>
      <div>
        <select name="nameOfSheetContainingData" id="nameOfSheetContainingData" ng-model="$root.nameOfSheetContainingData">
          <option ng-repeat="sheetName in $root.knownNamesOfSheetsWithinSelectedWorkbook" value="{{sheetName}}">
            {{sheetName}}
          </option>
        </select>
      </div>
    </div>

  </div>

  <div>

    <legend>Attachments</legend>

    <div>
      <label for="attachments"></label>
      <input type="file"
             id="attachments"
             name="attachments"
             data-ng-model="$root.attachments"
             accept=".xls,.xlsx,.xlsm,.csv"
             style="display: inline;"
             multiple="multiple" />
    </div>

  </div>

  <!--Upload button-->

  <div style="float: bottom; clear: both; margin-top: 10px">
    <a href="#" class="btn btn-default" ng-click="uploadData()">Upload</a>
  </div>

</div>