<div class="page-header">
  <h1>Upload Data</h1>
</div>

<div class="page-content">

  <div class="alert alert-success" ng-show="alertMessage_success != ''">
    <strong>Success!</strong> {{$root.alertMessage_success}}
    <a href="/data-repository-app/#/uploadData" class="close" data-dismiss="alert" ng-click="$root.alertMessage_success = ''">&times;</a>
  </div>
  <div class="alert alert-danger" ng-show="alertMessage_failure != ''">
    <strong>ERROR:</strong> {{$root.alertMessage_failure}}
    <a href="/data-repository-app/#/uploadData" class="close" data-dismiss="alert" ng-click="$root.alertMessage_failure = ''">&times;</a>
  </div>

  <div>
    <legend>Metadata</legend>

    <div style="margin-bottom: 2px">
      <label for="dataCategory">Data Category</label>
      <select name="dataCategory" id="dataCategory" ng-model="$root.dataCategory">
        <option ng-repeat="option in $root.knownDataCategories" value="{{option}}">{{option}}</option>
      </select>
    </div>

    <div style="margin-bottom: 2px">
      <label>Submission Date</label>
      <input ng-model="$root.submissionDate" ui-date type="text"/>
      <br/>
    </div>

    <div style="margin-bottom: 2px">
      <label for="submitter">Submitter</label>
      <input ng-model="$root.submitter" id="submitter" name="submitter" type="text" style="width: 300px;"/>
    </div>

    <div style="margin-bottom: 2px">

      <label for="projectName">Project Name</label>
      <input ng-model="$root.projectName" id="projectName" name="projectName" type="text" style="width: 300px;"/>
    </div>

    <div style="margin-bottom: 2px">
      <label for="chargeNumber">Charge #</label>
      <input ng-model="$root.chargeNumber" id="chargeNumber" name="chargeNumber" type="text" style="width: 300px;"/>
    </div>

    <div style="margin-bottom: 2px">
      <label for="comments">Comments</label>
      <textarea ng-model="$root.comments" id="comments" name="comments" rows="2" style="width: 300px;" ></textarea>
    </div>

  </div>

  <div>

    <legend>Source Document</legend>

    <div>
      <label for="sourceDocument">(Excel or CSV file)</label>
      <input type="file"
             id="sourceDocument"
             name="sourceDocument"
             ng-model="$root.sourceDocument"
             accept=".xls,.xlsx,.xlsm,.csv"
             required
             file-change="handleDataFileSelection($event, files)"
             style="display: inline;" />
    </div>

    <div ng-show="knownNamesOfSheetsWithinSelectedWorkbook.length > 0" style="margin-top: 2px">
      <div>
        <label style="width: auto;" for="nameOfSubdocumentContainingDataIfApplicable">
          Select the name of the sheet within the Excel workbook that contains the data to be ingested.
        </label>
      </div>
      <div>
        <label></label>
        <select name="nameOfSubdocumentContainingDataIfApplicable" id="nameOfSubdocumentContainingDataIfApplicable" ng-model="$root.nameOfSubdocumentContainingDataIfApplicable">
          <option ng-repeat="sheetName in $root.knownNamesOfSheetsWithinSelectedWorkbook" value="{{sheetName}}">
            {{sheetName}}
          </option>
        </select>
      </div>
    </div>

  </div>

  <div>

    <legend>Attachments</legend>

    <span>
      <label for="attachments"></label>
      <input type="file"
           id="attachments"
           name="attachments"
           ng-model="$root.attachments"
           file-change="handleAttachmentFilesSelection($event, files)"
           style="display: inline;"
           multiple="multiple" />
    </span>

  </div>

  <div class="alert alert-warning" ng-show="alertMessage_missingUserInput != ''" style="margin-top: 10px;">
    {{$root.alertMessage_missingUserInput}}
    <a href="/data-repository-app/#/uploadData" class="close" data-dismiss="alert" ng-click="$root.alertMessage_missingUserInput = ''">&times;</a>
  </div>

  <!--Upload button-->

  <div style="float: bottom; clear: both; margin-top: 10px">
    <a href="#/uploadData" class="btn btn-default" ng-click="uploadData()">Upload</a>
  </div>

</div>