label {display:inline-block; width: 125px; vertical-align: top; }

html, body, input, select, textarea {
}

body {
    padding-top: 70px;
    padding-bottom: 10px;
    font-size: 12px;
}

legend {
    font-style: italic;
    font-weight: bold;
    font-size: 150%;
    margin-top: 10px;
    margin-bottom: 4px;
    font-family: serif;
}

label {
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 170%;
    font-weight: bold;
    margin-top: 0px;
    color: #003503;
}

td {
    white-space: nowrap
}

thead {
    font-weight: bold;
    border-top: 2px black;
}

.page-header {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

.page-content {
    margin-bottom: 10px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-inverse {
    background-image: linear-gradient(to bottom, rgba(12, 129, 0, 0.79) 0px, #003503 100%);
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 15px;
    margin-left: 15px;
    width: auto;
}

#progressAnimation {
    display: inline-block;
    height: 100%;
    background-color: black;
    opacity: 0.3;
    background-image: url('../img/progressAnimation.gif');
    background-repeat: no-repeat;
    background-position: center center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    text-align: center;
    vertical-align: middle;
}
