
label {display:inline-block; width: 125px; vertical-align: top; }

html, body, input, select, textarea {
}

body {
    font-size: 12px;
}

legend {
    font-style: italic;
    font-weight: bold;
    font-size: 150%;
    margin-top: 10px;
    margin-bottom: 4px;
    font-family: serif;
}

label {
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 170%;
    font-weight: bold;
    margin-top: 0px;
    color: #003503;
}

.page-header {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none;
}

.page-content {
    margin-bottom: 20px;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-inverse {
    background-image: linear-gradient(to bottom, rgba(12, 129, 0, 0.79) 0px, #003503 100%);
}

/*the basics, and works for FF*/
#progressAnimation{
    margin:0px 0px 0px 0px;
    position:fixed;
    height: 100%;
    z-index:9999;
    padding-top:200px;
    padding-left:50px;
    width:100%;
    clear:none;
    background:url(../img/transbg.png);
    /*background-color:#666666;
    border:1px solid #000000;*/
}
